<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Admin</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>

	<div class="container my-2">
		<h1>List Admin</h1>

		<a class="btn btn-primary btn-sm mb-3"> Add Admin</a>

		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>
						Name
					</th>

					<th>
						Phone
					</th>
					<th>

						Email
					</th>
					<th>

						Address
					</th>
					<th>

						Role
					</th>
					<th> Actions </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="ad : ${list}">
					<td th:text="${ad.name_ad}">Name</td>
					<td th:text="${ad.phone_ad}">Phone</td>
					<td th:text="${ad.email_ad}">Email</td>
					<td th:text="${ad.address_ad}">Address </td>
					<td th:text="${ad.role}">Role</td>

				</tr>
			</tbody>
		</table>


	</div>
	</div>
</body>

</html>